{# src/DEE/CoreBundle/Resources/views/layoutfront.html.twig #}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Educ'auto{% endblock %}</title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset(assetsPath~'/css/frontend.css') }}"/>
            
            <!-- BootStrap HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
            <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
            <!--[if lt IE 9]>
              <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
              <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
            <![endif]-->
        {% endblock %}
    </head>

    <body>
        <!-- bootstrap container that takes all available width -->
        <div class="container-fluid">
            <a href="{{ path('dee_core_home') }}">

                <!--header with background img -->
                <header class="row">
                    <div id="header-background" class="col-lg-12"></div>
                </header>
                
                <!-- white dashed line -->
                <div class="row"><div id="whiteLine" class="cl-lg-12"></div></div>
                
                <!-- sub-header with title and sub-title -->
                <section id="sub-header-container" class="row">
                    <div id="sub-header" class="col-lg-12">
                        <p class="row"><h1 class="col-sm-4 col-sm-offset-3 col-xs-10 col-xs-offset-1">EDUC'AUTO</h1></p>
                    <p class="row"><h2 class="col-lg-5 col-lg-offset-4 col-md-7 col-md-offset-3 col-sm-8 col-sm-offset-3 col-xs-12">Nous avons les clés de votre succès !</h2></p>
                    </div>
                </section>
            </a> 
            
            <!-- FlashBag messages -->
            <section class="flashbag-notices">
                <!-- error messages -->
                <div class="row error-notice">
                    <div class="col_lg_12">
                        {% block errors %}
                            {% for errorNotice in app.session.flashbag.get('error') %}
                                <p>Erreur : {{ errorNotice }}</p>
                            {% endfor %}
                        {% endblock %}  
                    </div>
                </div>
                <!-- other messages -->
                <div class="row">
                    <div class="col_lg_12">
                        {% block notices %}
                            {% for notice in app.session.flashbag.get('notice') %}
                                <p>{{ notice }}</p>
                            {% endfor %}
                        {% endblock %}
                    </div>
                </div>
            </section>
                  
            
             <!-- body with custom content -->
             <div class="fill">
                {% block body %}             
                {% endblock %}
             </div> 

        <!-- end of .container-fluid div -->
        </div>
        <!-- footer -->
        <footer class="footer">
            <div class="text-center container-fluid">
                <p class="text-muted">Site créé par Docker Engine Enterprise. Copyright DEE 2016.</p>
            </div>
        </footer>       
    </body>
    
    {# Include JS #}
    {% block requirejs %}
        {{ include('DEECoreBundle::_requirejs.html.twig', {
            module: false
        }) }}
    {% endblock %}
</html>
    