{# DEE/CoursesBundle/Resources/views/Student #}

{% extends "::layout.backend.html.twig" %}

{% block body %}
   <div class="row margin-top-sm">
        <h1 class="col-xs-12 center-text pointer" id="toggle-student-form"><span class="fa fa-plus-circle green-text"></span>    Ajouter un candidat</h1>
    </div>
    <div class="row margin-top-sm" id="hidden-student-form" data-url="{{ path('dee_student_homepage') }}">
        {{ form(form) }}
    </div>
    <div class="row margin-top-sm">
        <h1 class="col-xs-12 center-text">Liste des candidats</h1>
    </div>
    <div class="row margin-top-sm">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Nom </th>
                <th>Téléphone</th>
                <th>Email</th>
                <th>Adresse</th>
                <th>&nbsp;</th>
            {% for student in students %}
                <tr id="{{ student.id }}">
                    <td>{{ student.id }}</td>
                    <td>{{ student.name ~" " ~student.firstname }}</td>
                    <td>{{ student.phone }} <bt /> {{ student.phoneOther }}</td>
                    <td>{{ student.email }}</td>
                    <td>{{ student.address }} <br /> {{ student.addressOther }}</td>
                    <td class="fa fa-1-5x pointer fa-times-circle delete-link" data-url="{{ path('dee_student_delete',{'id': student.id}) }}" title="Supprimer le candidat">&nbsp;</td>
                </tr>
            {% endfor %}
        </table>
    </div>
        
<script type="text/javascript">
        $(function () {

            // Hide user form so it can be displayed by clicking to h1 tag
            $("#hidden-student-form").hide();
        
            /**
             * Send form data to DEECoursesBundle:Student:index controller
             * Add new student to table
             * @returns {boolean} : false (so it doesn't trigger the form action or event)
             */
            $("#hidden-student-form form").submit(function () {
                var postUrl = $("#hidden-student-form").data("url");
                
                // Add user by calling controller and sending form info
                $.ajax({
                    url: postUrl,
                    type: 'post',
                    dataType: 'json',
                    data: $('#hidden-student-form form').serialize(),
                    success: function (data) {
                        console.log(data);
                        console.log(data.student);
                        // hide form
                        $("#hidden-student-form").fadeToggle();
                        
                        // Add user to table
                        addStudentToTable(data.student);
                        
                        // Empty form
                        emptyFormInputs();
                    },
                    error: function (xhr, status) {
                           console.log(xhr.responseText);
                           console.log(status);
                       }
                });
                return false;
            });

            /**
             * Display student form to be able to add one
             */
            $("#toggle-student-form").click(function () {
                $("#hidden-student-form").fadeToggle();
            });

            /**
             *  Add on click action to delete user
             *  Ajax call to deleteAction() from UserManagementController.php
             */
            $(".fa-times-circle").click(function () {
                var element = $(this);

                // Call controller
                $.ajax({
                    url: element.data("url")
                    , type: 'POST'
                    , dataType: 'json'
                    , success: function (data) {
                        element.parent().fadeOut().remove();
                    }
                    , error: function (xhr, status) {
                        console.log(xhr.responseText);
                        console.log(status);
                    }
                });
            });
            
            /**
             * Add a line to table to display user
             * @param {DEEUSerBundle User} user
             * @returns {undefined}
             */
            function addStudentToTable(student) {
                // Set new data-url to deactivate/activate & delete user        
                var deleteLink    = $(".delete-link").first().data('url');
                var newDeleteLink = deleteLink.substring(0,(deleteLink.length -1)) +student.id;                
                
                // Add new user to table
                $("table").append("<tr>"
                                        +"<td>" +student.id +"</td>"
                                        +"<td>" +student.name +" " +student.firstname +"</td>"
                                        +"<td>" +student.phone +"<br />" +student.phoneOther +"</td>"
                                        +"<td>" +student.email +"</td>"
                                        +"<td>" +student.address +"<br />" +student.addressOther +"</td>"
                                        +"<td class=\"fa fa-1-5x pointer fa-times-circle\" title=\"Supprimer le candidat\"  data-url=\"" +newDeleteLink +"\">&nbsp;</td>"
                                    +"</tr>"
                                );
            }
            
            /**
             *  Empty all form input (textarea, text, checkbox, etc...)
             * @returns {undefined}
             */
            function emptyFormInputs() {
                $(':input')
                    .not(':button, :submit, :reset, :hidden')
                    .val('')
                    .removeAttr('checked')
                    .removeAttr('selected');
            }
        });
    </script>
{% endblock %}    