{# src/DEE/CoursesBundle/Resources/views/shcwCourse.html.twig #}

{% extends ":backend:layout.backend.html.twig" %}

{% block body %}
    
    {{ dump(exams) }}
    {{ dump(lessons) }}
    
    <!-- student info and link to add exam & lesson -->
    <div class="row margin-top-sm">
        <div class="col-sm-3 col-xs-12">Photo</div> <!-- todo : photo -->
        <div class="col-sm-6 col-xs-12">
            <p>{{ student.name ~" " ~student.firstname }}</p>
            <p>{{ student.address }} <br /> {{ student.addressOther }} <br /> <!-- todo ville et cp --></p>
            <p><span class="fa fa-phone green-text"></span>     {{ student.phone }} <br /><span class="fa fa-phone green-text"></span>     {{  student.phoneOther }}</p>
            <p><span class="fa fa-envelope green-text"></span>     {{ student.email }}</p>
        </div>
        <div class="col-sm-3 col-xs-12">
            <div class="col-xs-12">
                <h2 class="pointer smaller-h2" id="toggle-exam-form"><span class="fa fa-plus-circle green-text"></span>    Ajouter un examen</h2>
                <h2 class="pointer smaller-h2" id="toggle-lesson-form"><span class="fa fa-plus-circle green-text"></span>    Ajouter une leçon</h2>
            </div>
        </div>
    </div>
        
    <!-- exam form -->
    <div class="row margin-top-sm" id="hidden-exam-form" data-url="{{ path('dee_student_showcourse',{'id': student.id} ) }}">
        <h1 class="col-xs-12 center-text pointer" id="toggle-student-form"><span class="fa fa-plus-circle green-text"></span>    Ajouter un examen</h1>
        <p>
        {{ include("DEECoursesBundle:Student:Exam/form.html.twig") }}
        </p>
    </div>
        
    <!-- lesson form -->
    <div class="row margin-top-sm" id="hidden-lesson-form" data-url="{{ path('dee_student_showcourse', {'id': student.id}) }}">
        <h1 class="col-xs-12 center-text pointer" id="toggle-student-form"><span class="fa fa-plus-circle green-text"></span>    Ajouter une leçon</h1>
        <p>
        {{ include("DEECoursesBundle:Student:Lesson/form.html.twig") }}
        </p>
    </div>
    
    <!-- list of exams & lessons attached to each -->    
    <div class="row margin-top-sm">
        <h1 class="col-xs-12 center-text">Parcours du candidat</h1>
        {# Display all exams #}
        {% for exam in exams %}
            <h3 class="col-xs-12">exam.examType</h3>
            <p class="col-xs-12">
                <h4>
                {% if exam.training %}
                    Enseignement en cours
                {% elseif exam.success %}
                    Accepté à l'examen le {{ exam.date }}
                {% elseif not exam.success %}
                    Rejeté à l'examen le {{ exam.date }}
                {% endif%}
                </h4>
            </p>
            {% for lesson in lessons[exam.id] %}
                lesson.id
            {% endfor %}    
        {% endfor %}
    </div>
        
<script type="text/javascript">
        $(function () {

            // Hide user form so it can be displayed by clicking to h1 tag
            $("#hidden-exam-form").hide();
            $("#hidden-lesson-form").hide();
        
            /**
             * Send form data to DEECoursesBundle:Student:showcourse controller
             * Add new exam to table
             * @returns {boolean} : false (so it doesn't trigger the form action or event)
             */
            $("#hidden-exam-form form").submit(function () {
               var postUrl = $("#hidden-exam-form").data("url");
                
                // Add user by calling controller and sending form info
                $.ajax({
                    url: postUrl,
                    type: 'post',
                    dataType: 'json',
                    data: $('#hidden-exam-form form').serialize(),
                    success: function (data) {
                        console.log(data);
                        console.log(data.exam);
                        // hide form
                        $("#hidden-exam-form").fadeToggle();
                        
                        // Add exams to table
                        addExamToView(data.student);
                        
                        // Empty form
                        emptyFormInputs();
                    },
                    error: function (xhr, status) {
                           console.log(xhr.responseText);
                           console.log(status);
                       }
                });
                return false;
            });

            /**
             * Display exam form to be able to add one
             */
            $("#toggle-exam-form").click(function () {
                $("#hidden-exam-form").fadeToggle();
            });
            
            /**
             * Display lesson form to be able to add one
             */
            $("#toggle-lesson-form").click(function () {
                $("#hidden-lesson-form").fadeToggle();
            });

            /**
             *  Add on click action to delete user
             *  Ajax call to deleteAction() from UserManagementController.php
             */
            /*$(".fa-times-circle").click(function () {
                var element = $(this);

                // Call controller
                $.ajax({
                    url: element.data("url")
                    , type: 'POST'
                    , dataType: 'json'
                    , success: function (data) {
                        element.parent().fadeOut().remove();
                    }
                    , error: function (xhr, status) {
                        console.log(xhr.responseText);
                        console.log(status);
                    }
                });
            });*/
            
            /**
             * Add a line to table to display student
             * @param {DEECoursesBundle Student} user
             * @returns {undefined}
             */
            function addExamToView(exam) {
                // Set new data-url to deactivate/activate & delete user        
                var deleteLink      = $(".delete-link").first().data('url');
                var newDeleteLink   = deleteLink.substring(0,(deleteLink.length -1)) +student.id;                
                var courseLink      = $(".course-link");first().data('url');
                var newCourseLink   = courseLink.substring(0, (courseLink.length -1)) +student.id;
                
                
                // Add new user to table
                $("table").append("<tr id=\"" +student.id +"\">"
                                        +"<td>" +student.id +"</td>"
                                        +"<td>" +student.name +" " +student.firstname +"</td>"
                                        +"<td>" +student.phone +"<br />" +student.phoneOther +"</td>"
                                        +"<td>" +student.email +"</td>"
                                        +"<td>" +student.address +"<br />" +student.addressOther +"</td>"
                                        +"<td><a href=\"" +newCourseLink +"\"><span class=\"fa fa-1-5x pointer fa-map-signs course-link\" data-url=\"" +newCourseLink +"\" title=\"Parcours du candidat\"></span>&nbsp;</a></td>"
                                        +"<td class=\"fa fa-1-5x pointer fa-times-circle\" title=\"Supprimer le candidat\"  data-url=\"" +newDeleteLink +"\">&nbsp;</td>"
                                    +"</tr>"
                                );
            }
            
            /**
             *  Empty all form input (textarea, text, checkbox, etc...)
             * @returns {undefined}
             */
            function emptyFormInputs(form) {
                $(form +':input')
                    .not(':button, :submit, :reset, :hidden')
                    .val('')
                    .removeAttr('checked')
                    .removeAttr('selected');
            }
        });
    </script>
{% endblock %}    