{# DEE/CoursesBundle/Resources/views/Student #}

{% extends ":backend:layout.backend.html.twig" %}

{% block body %}
   <div class="row margin-top-sm">
        <h1 class="col-xs-12 center-text pointer" id="toggle-ExamCategory-form"><span class="fa fa-plus-circle green-text"></span>    Ajouter un type d'examen</h1>
    </div>
    <div class="row margin-top-sm {% if validForm %} {{ "valid-form" }} {% endif %}" id="hidden-ExamCategory-form" data-url="{{ path('dee_examcategory_homepage') }}">
        {{ form(form) }}
    </div>
    <div class="row margin-top-sm">
        <h1 class="col-xs-12 center-text">Liste des types d'examen</h1>
    </div>
    <div class="row margin-top-sm">
        <table class="table" data-url="{{ path('dee_examcategory_delete',{'id': 0}) }}">
            <tr>
                <th>#</th>
                <th>Code </th>
                <th>Label</th>
                <th>Age requis</th>
                <th>Période de validité</th>
                <th>&nbsp;</th>
            {% for ExamCategory in ExamCategories %}
                <tr id="{{ ExamCategory.id }}">
                    <td>{{ ExamCategory.id }}</td>
                    <td>{{ ExamCategory.code }}</td>
                    <td>{{ ExamCategory.label }}</td>
                    <td>{{ ExamCategory.requiredAge~" ans" }}</td>
                    <td>{{ ExamCategory.validityPeriod == null ? "Aucune" : ExamCategory.validityPeriod~" ans" }}</td>
                    <td class="fa fa-1-5x pointer fa-times-circle delete-link" data-url="{{ path('dee_examcategory_delete',{'id': ExamCategory.id}) }}"  title="Supprimer le type d'examen">&nbsp;</td>
                </tr>
            {% endfor %}
        </table>
    </div>
        
<script type="text/javascript">
        $(function () {

            // Hide user form so it can be displayed by clicking to h1 tag
            if ($("#hidden-ExamCategory-form").hasClass('valid-form')) { $("#hidden-ExamCategory-form").hide(); }
        
            /**
             * Display student form to be able to add one
             */
            $("#toggle-ExamCategory-form").click(function () {
                $("#hidden-ExamCategory-form").fadeToggle();
            });

            /**
             *  Add on click action to delete user
             *  Ajax call to deleteAction() from UserManagementController.php
             *  Action used on table so it works on every child
             *  Even those added later with jQuery
             */
            $('table').on('click', 'td.fa-times-circle', function() {
                var element = $(this);

                // Call controller
                $.ajax({
                    url: element.data("url")
                    , type: 'POST'
                    , dataType: 'json'
                    , success: function (data) {
                        element.parent().fadeOut().remove();
                    }
                    , error: function (xhr, status) {
                        console.log(xhr.responseText);
                        console.log(status);
                    }
                });
            });
        });
    </script>
{% endblock %}    

