{#/src/DEE/UserBundle/Resources/views/UserManagement/index.html.twig#}

{% extends "::layout.backend.html.twig" %}

{% block body %}
    <div class="row margin-top-sm">
        <h1 class="col-xs-12 center-text">Liste des utilisateurs</h1>
    </div>
    <div class="row margin-top-sm">
        <table class="table">
            <tr>
                <th>#</th>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                <th>Actif</th>
                <th>Droits</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
            </tr>
        {%for user in users %}
            <tr id="{{ user.id }}">
                <td class="id">{{ user.id }}</td>
                <td class="username">{{ user.username }}</td>
                <td class="email">{{ user.email }}</td>
                <td class="enabled">{{ user.enabled }}</td>
                <td>{#{ user.roles }#}</td>
                <td class="fa {{ user.enabled ? 'fa-circle' : 'fa-circle-thin' }}" data-url="{{ path('dee_user_activate',{'id': user.id}) }}" title="Désactiver le compte">&nbsp;</td>
                <td class="fa fa-times-circle" title="Supprimer le compte">&nbsp;</td>
            </tr>
        {% endfor %}
        </table>
    </div>
        
    <script type="text/javascript">
        $(function(){
            
            /**
             * 
             */
            $('.fa-circle, fa-circle-thin').click(function(){
                
                // Call controller
                $.ajax({
                    url: $(this).data('url'),
                    method: "get"
                }).success(function(data){
                    console.log(data);
                   // refreshList(id, 'activate');
                });
                
                
            });
  
        });
    </script>
{% endblock %}

